#map {
    height: 400px;
    width: 100%;
}

#route-panel {
    width: 75%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

h1 {
    background-color: #343a40;
}

.single-message {
    color: black;
}

#demo-banner {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.modal-header {
    color: #343a40;
}

.custom-modal-body {
    color: black;
}

.sub-label {
    text-align: left;
    margin-left: 20px;
}

.form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.arrival-form {
    padding: 20px;
}