<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <title>{% block title %}Incoming{% endblock %}</title>
</head>
<body>
  <div id="demo-banner">Demo site for prototyping purposes. No assurances or safeguards of sensitive information provided. TESTING DATA ONLY!</div>
  <div class="container-md text-center text-white bg-dark">
    <h1><img src="{{ url_for('static', filename='images/ReceptionCompanyLogo.png') }}" 
        alt="img of Reception Company patch" style="height: 300px; width: 300px;">
    <p>U.S. ARMY HAWAII RECEPTION COMPANY</p>
    <p>SCHOFIELD BARRACKS, HAWAII</p>
    <p>"RENEGADES"</p></h1>
    {% for msg in get_flashed_messages() %}
        <p class="flash-message">{{ msg }}</p>
    {% endfor %}<hr>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      {% if session['username'] %}  
        <a class="navbar-brand" href="{{ url_for('show_profile_page', username=session['username']) }}">Soldier Profile</a>
      {% else %}
        <a class="navbar-brand" href="/register">New Account</a>
      {% endif %}
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/messages/show">Comment Section</a></li>
        <li class="nav-item"><a class="nav-link" href="/resources">Address/Phone</a></li>
        <li class="nav-item"><a class="nav-link" href="/directions">Map</a></li>
        <li class="nav-item">
          {% if 'username' in  session %}
            <a class="nav-link" href="/logout">Logout</a>
          {% else %}
            <a class="nav-link" href="/login">Login</a>
          {% endif %}
        </li>
      </ul>
      <div class="nav-item search-wrapper">
        <p id="search-bar-title">Soldier LookUp</p>
        <div class="search-container">            
          <input type="text" placeholder="Type in a rank+lastName or ID Code" id="search-bar" style="min-width: 280px;">            
          <div class="suggestions"></div>
        </div>
      </div>
    </nav>
    <hr><hr>
    {% block content %}
    {% endblock %}
    <br>
    <img src="static/images/qr_code.png">
    <hr><hr>
    <section class="bottom">
      <footer class="text-center" style="color: black;">
        <div class="container p-3 pb-0">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3 pr-2">Submit your Innovation Idea</span>
            <a href="https://25id.soldierinnovation.com/sMain/landing" target="_blank">
              <button type="button" class="btn btn-outline-light">
                <img width="80.13" height="71" src="{{ url_for('static', filename='images/LLabsLogo.png')}}" alt="Lightning Labs Logo" id="footer-image">
              </button>  
            </a>
          </p>
        </div>
        <div class="text-center p-2" style="background-color: #cdcdc6">
          <p>Custom application. Engineered by the 25ID Lightning Labs Software Dev Team.</p>
          <p>© 2023</p>
        </div>
      </footer>
    </section>
  </div>
  <script src="{{ url_for('static', filename='js/search_bar.js') }}"></script>
</body>
</html>