{% extends 'base.html' %}
{% block title %}Directions{% endblock %}

{% block content %}


<div class="form-container">
<div id="map"></div>
</div>
<h2>
    <p>Complimentary Navigation Service</p>
</h2> 
    <!-- Button to open send_email Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapModal">
    Get Directions
    </button>
<div class="modal" id="mapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Route Plan </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body custom-modal-body">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD1qM67LtjsTauU9GN2ATfHgNKIPuI8HY&callback=initMap"></script>
    <form id="get-directions" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                <b>{{ field.label }}</b>
                <p>{{ field(id=field.name) }}
                {% for error in field.errors %}
                {{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
            </div>
        </div>
    </div>
</div>
<hr><hr>
<h6>Navigation</h6>
<h6 id="route-panel" class="text-black bg-light"></h6>
<hr><hr>

<script>
    const origin = "{{ start }}";  
    const destination = "{{ end }}";  
    const mode = "{{ mode }}";  
</script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}