<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}In-Processing Questionnaire{% endblock %}
{% block content %}
<h3>
    <p>For Gaining-unit representatives tasked with receiving newly arrived Soldiers</p>
</h3>    
    <i><p>Please fill out and submit.</p></i>

<form id="g-form" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            <b>{{ field.label }}</b>
                {% if field.sub_label %}
                <p class="sub-label">{{ field.sub_label }}</p>
                {% endif %}
            <p>{{ field }}
            {% for error in field.errors %}
                {{ error }}</p>
            {% endfor %}
            <br><br>
        </p>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
<hr><hr><hr>
<p>If you have any questions about in-processing, please contact the U.S. Army Hawaii Reception Company at 808-655-4634 during
    the normal duty hours Monday to Friday, 0900-1500 hrs or after duty hours contact the U.S. Army Hawaii Reception Company
    CQ desk at 808-655-0389.
</p>
{% endblock %}