{% extends 'base.html' %}
{% block title %}Useful Resources{% endblock %}

{% block content %}
<h2>Useful Phone Numbers and Locations</h2>
<ul>
    <li>Replacement Company CQ Desk, Bldg. 1020: 808-655-0389
        <p></p>
    </li>
    <li>Military Personnel Division, Soldier Support Center: 808-655-1272
        <p>9006-9008 Betsy Ross Ct, Schofield Barracks, HI 96857</p>
    </li>
    <li>Desmond T. Doss Health Clinic (DDHC) Appointments: 888-683-2778
        <p>683 Waianae Ave BLDG G, Schofield Barracks, HI 96786</p>
    </li>
    <li>Central Issue Facility (CIF): 808-655-9876
        <p>540 Humphreys Rd building 2070, Schofield Barracks, HI 96857</p>
    </li>
    <li>The Inn at Schofield: 808-624-9650
        <p>563 Kolekole Ave, Wahiawa, HI 96786</p>
    </li>
    <li>Sustainment Bistro Warrior Restaurant (DFAC): Bldg 780
        <p>780 Menoher Rd, Schofield Barracks, HI 96857</p>
    </li>
    <li>Shuttle Pick-up: 808-655-0389</li>
    <li>
        <button type="button" class="btn btn-primary" onclick ="location.href='/directions?origin=Lyman%20Gate,%20HI&destination=Building+1020,+Menoher+Rd,+Schofield+Barracks+96857&mode=WALKING';">
            Directions FROM Lyman Gate to Bldg. 1020
        </button>
    </li>
</ul>
<br><br>
<br><br>
<script src="{{ url_for('static', filename='js/resources.js') }}"></script>
{% endblock %}