{% extends 'base.html' %}
{% block title %}Useful Resources{% endblock %}

{% block content %}
<h2>Useful Phone Numbers and Locations</h2>
<ul>
    <li>Shuttle Pick-up: 808-655-0389</li>
    <li><a href="/directions?origin=Lyman%20Gate,%20HI&destination=Building+1020,+Menoher+Rd,+Schofield+Barracks+96857&mode=WALKING">Directions FROM Lyman Gate to Bldg. 1020</a></li>
</ul>
<br><br>
<br><br>
<form id="endpoint-form" action="{{ url_for('show_useful_links') }}" method="POST">
    <h2>Where do you want to go? >> You're starting from Lyman Gate!</h2>
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            <b>{{ field.label }}</b>
            <p>{{ field(id=field.name) }}
            {% for error in field.errors %}
                {{ error }}</p>
            {% endfor %}
        </p>
     {% endfor %}
     <button type="submit">Submit</button>
</form>
<p>Want to send an email? <a href="/send_email">E-mail Me!</a></p>
<script src="{{ url_for('static', filename='resources.js') }}"></script>
{% endblock %}