<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
<h2>Login to Your Account</h2>
<form id="login-form" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
                <div class="server-side-warning">{{ error }}</div>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" class="button-style">Submit</button>
</form>
<br><br>
<div>
    <p>Don't have an account? <button type="button" class="btn btn-primary" onclick="location.href='/register';">Create one!</button></p>
</div>
{% endblock %}