<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<h2>{{ soldier.rank_and_name }}, Reception Company Cadre Member</h2>
<p><img src="{{ soldier.cadre_user.image_url }}" class="detail-profile-image"></p>
<p>Rank: {{ soldier.cadre_user.rank }}</p>
<p>First Name: {{ soldier.cadre_user.first_name }}</p>
<p>Last Name: {{ soldier.cadre_user.last_name }}</p>
<p>Role: {{ soldier.role }}</p>
<p>email: {{ soldier.cadre_user.email }}</p>
<p>phone: {{ soldier.cadre_user.phone_number }}</p>
<p>Bio: {{ soldier.cadre_user.bio }}</p>
<p>Last Login: {{ soldier.cadre_user.last_login }}</p>
<br>
<hr>
<p>Need a Spreadsheet?
<!-- Button to open send_email Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mailModal">
    Get an email!
    </button>
</p>
<!-- The email Modal -->
<div class="modal" id="mailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Authorize Access</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body custom-modal-body">
                {% include 'send_email.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<hr>
<p>Username: {{ soldier.username }}</p>
<div>
    <p>
        <button class="button-style" onclick="location.href='/users/edit/{{ soldier.username }}';">
            Edit Profile
        </button>
    </p>
    <p>
        <button class="button-style" id="delete-btn" onclick="location.href='/logout';">
            Logout
        </button>
    </p>
</div>
<br>
<p><a href="{{ url_for('show_delete_page', username=soldier.username) }}" class="link-style">Delete account?</a></p>
{% endblock %}