<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<h2>{{ soldier.rank_and_name }}, Reception Company Cadre Member</h2>
<p><img src="{{ soldier.cadre_user.image_url }}" class="detail-profile-image"></p>
<p>Rank: {{ soldier.cadre_user.rank }}</p>
<p>First Name: {{ soldier.cadre_user.first_name }}</p>
<p>Last Name: {{ soldier.cadre_user.last_name }}</p>
<p>Role: {{ soldier.role }}</p>
<p>email: {{ soldier.cadre_user.email }}</p>
{% if soldier.alt_email %}
    <p>alt email: {{ soldier.alt_email }}</p>
{% endif %}
<p>phone: {{ soldier.cadre_user.phone_number }}</p>
<p>Bio: {{ soldier.cadre_user.bio }}</p>
<p>Last Login: {{ soldier.cadre_user.last_login.strftime('%d %B %Y')  }}</p>
<br>
<hr>
<p>Need a Spreadsheet?
<!-- Button to open send_email Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mailModal">
    Get an email!
    </button>
</p>
<!-- The email Modal -->
<div class="modal" id="mailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Authorize Access</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body custom-modal-body">
                {% include 'send_email.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<hr>
<p>Username: {{ soldier.username }}</p>
<div class="bg">
    {% if messages != None %}
      <div class="row justify-content-center" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="col-md-6" style="max-width: 600px;">
          <ul class="list-group no-hover" id="messages">
            {% for message in messages %}
            <li class="list-group-item">
              <a href="{{ url_for('show_user', user_id=message.user.id) }}">
                <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
              </a>
              <div class="message-area">
                <div class="message-heading">
                  <a href="{{ url_for('show_user', user_id=message.user.id) }}">@{{ message.user.username }}</a>
                </div>
                <p class="single-message">
                  <b>{{ message.text }}</b>
                  <a href="{{ url_for('delete_message', message_id=message.id) }}">Delete</a>
                </p>
                <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
<hr>
<div>
    <p>
        <button class="button-style" onclick="location.href='/users/edit/{{ soldier.username }}';">
            Edit Profile
        </button>
    </p>
    <p>
        <button class="button-style" id="delete-btn" onclick="location.href='/logout';">
            Logout
        </button>
    </p>
</div>
<br>
<p><a href="{{ url_for('show_delete_page', username=soldier.username) }}" class="link-style">Delete account?</a></p>
{% endblock %}