<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<h2>{{ soldier.rank_and_name }}, Incoming Soldier Details</h2>
<p><img src="{{ soldier.incoming_user.image_url }}" class="detail-profile-image"></p>
<p>Rank: {{ soldier.incoming_user.rank }}</p>
<p>First Name: {{ soldier.incoming_user.first_name }}</p>
<p>Last Name: {{ soldier.incoming_user.last_name }}</p>
<p>email: {{ soldier.incoming_user.email }}</p>
<p>phone: {{ soldier.incoming_user.phone_number }}</p>
<p>Arrival Date: {{ soldier.arrival_datetime }}</p>
<p>Report to Bldg 1020, @0845 on: {{ soldier.report_bldg1020 }}</p>
<br>
<p>Bio: {{ soldier.incoming_user.bio }}</p>
<p>Last Login: {{ soldier.incoming_user.last_login }}</p>
<hr>

<p>Username: {{ soldier.username }}</p>
<div>
    <p>
        <button class="button-style" onclick="location.href='/users/edit/{{ soldier.username }}';">
            Edit Profile
        </button>
    </p>
    <p>
        <button class="button-style" id="delete-btn" onclick="location.href='/logout';">
            Logout
        </button>
    </p>
</div>
<br>
<p><a href="{{ url_for('show_delete_page', username=soldier.username) }}" class="link-style">Delete account?</a></p>
{% endblock %}