<!--Inherits from the base template-->
{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}
<h2>{{ soldier.rank_and_name }}, Replacement Company Details</h2>
<p>Rank: {{ soldier.incoming_user.rank }}</p>
<p>First Name: {{ soldier.incoming_user.first_name }}</p>
<p>Last Name: {{ soldier.incoming_user.last_name }}</p>
<p>email: {{ soldier.incoming_user.email }}</p>
<p>phone: {{ soldier.incoming_user.phone_number }}</p>
<p>Arrival Date: {{ soldier.arrival_datetime }}</p>
<p>Report to Bldg 1020, @0845 on: {{ soldier.report_bldg1020 }}</p>
<br>
<hr>

<p>Username: {{ soldier.username }}</p>
<div>
    <p><a href="/logout">Logout</a></p>
</div>
<br>
<p><a href="{{ url_for('show_delete_page', username=soldier.username) }}">Delete account?</a></p>
{% endblock %}